<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<body>
    <nav id="header" class="navbar navbar-expand-md bg-body-tertiary">
        <div class="container-fluid">
            <div>
                <a th:href="@{/}" class="navbar-brand">Wrtr</a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <th:block sec:authorize="isAuthenticated()">
                        <li class="nav-item">
                            <a th:href="@{/myprofile}" class="nav-link">My profile</a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/logout}" class="nav-link">Log out</a>
                        </li>
                    </th:block>
                    <th:block sec:authorize="isAnonymous()">
                        <li class="nav-item">
                            <a th:href="@{/login}" class="nav-link">Log in</a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/register}" class="nav-link">Register</a>
                        </li>
                    </th:block>

                </ul>
                <form class="d-flex" role="search" th:action="@{/search/users}" th:method="get">
                    <input name="username" class="form-control me-2" type="search" placeholder="Search users" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>

            </div>
        </div>
    </nav>
</body>
</html>